@import '@/styles/apx.scss';
@import '@/styles/breakpoints.scss';


.title {
	padding-top: $apx-20;
	margin-bottom: $apx-10;
}

.add_button {
	margin-bottom: $apx-15 !important;
}


.set_work_time {
	display: flex;
	gap: $apx-10;
	margin-top: $apx-20;

	span {
		margin-top: $apx-15;
	}
}
.weeks {
	display: flex;
	width: 100%;
	gap: $apx-10;

	button {
		background: var(--color-stone-400);
		border: none;
		border-radius: $apx-10;
		padding: $apx-10;
		color: #fff;
	}

	button.active {
		background: var(--color-green);
	}
}

.search_block {
  display: flex;
  width: 100%;
  gap: $apx-20;
  margin-bottom: $apx-20;

  .search {
    width: 100%;
    margin-bottom: 0;
    gap: 0;
    span {
      display: none;
    }
  }
  button {
    min-width: $apx-180 !important;
    padding: 0;
    margin: 0;
    width: fit-content;
  }
}

.list_additional {
	display: flex;
	flex-direction: column;
	margin-top: $apx-10;
	gap: $apx-8;
	font-size: $apx-20;
}

.form_popup {

  padding: $apx-20 !important;

}

.form {

	.input {
		margin-top: $apx-20 ;
	}

	.choose_rights {
		display: flex;
		gap: $apx-10;
		margin-top: $apx-5;

		button {
			width: $apx-30;
			height: $apx-30;
			border-radius: $apx-5;
			border: none;
			font-size: $apx-12;
		}

		button.active {
			background: var(--color-blue);
			color: var(--color-white);
		}
	}

	h2 {
		margin-top: $apx-10;
	}

	.send_button {
		margin-top: $apx-25 !important;
	}
}

@media (max-width: $mobile-breakpoint) {
	.title {
		padding-top: 0;
		margin-bottom: $apx-m-10;
	}
	
	
	
	.add_button {
		margin-bottom: $apx-m-15 !important;
	}
	.search_block {
		display: flex;
		width: 100%;
		gap: $apx-m-20;
		margin-bottom: $apx-m-20;
	
		.search {
			width: 100%;
			margin-bottom: 0;
			gap: 0;
			span {
				display: none;
			}
		}
		button {
			min-width: $apx-m-100 !important;
			padding: 0;
			margin: 0;
			width: fit-content;
		}
	}
	
	.list_additional {
		display: flex;
		flex-direction: column;
		margin-top: $apx-m-10;
		gap: $apx-m-8;
		font-size: $apx-m-12;
	}
	
	.form_popup {
	
		padding: $apx-m-20 !important;
	
	}
	


	.form {
	
		.input {
			margin-top: $apx-m-20 ;
		}
	
		.choose_rights {
			display: flex;
			gap: $apx-m-10;
			margin-top: $apx-m-5;
	
			button {
				width: $apx-m-30;
				height: $apx-m-30;
				border-radius: $apx-m-5;
				border: none;
				font-size: $apx-m-12;
			}
	
			button.active {
				background: var(--color-blue);
				color: var(--color-white);
			}
		}
	
		h2 {
			margin-top: $apx-m-10;
		}
	
		.send_button {
			margin-top: $apx-m-25 !important;
		}
	}
	
}