@import '@/styles/apx.scss';
@import '@/styles/breakpoints.scss';

.controls {
	display: flex;
	flex-direction: column;
	font-size: 18px;
	gap: 10px;

	margin-top: 25px;
	a {
	}

	.red_link {
		color: var(--color-red) !important;
	}
}

.content {
  
	padding-left: 30px;
	padding-right: 30px;




	.title {
		text-align: left;
		padding-top: 20px;
		font-size: 40px !important;
		text-transform: uppercase;
	}

	.user_info {
		margin-top: 40px;
		display: flex;
	}

	.avatar {
		margin-right: 20px;
		border-radius: 20px;

		width: 150px !important;
		height: 150px !important;
	}

	.name {
		font-size: 25px;
		margin-top: 10px;
	}

	.subscription,.phoneNumber {
		margin-top: 10px;
		font-size: 18px;

		span {
			background: var(--color-green);
			padding: 3px;
			border-radius: 10px;
		padding: 5px;

		}

		span.red {
			background: var(--color-red);
			color: var(--color-white);
		}
	}
}



@media (max-width: $mobile-breakpoint) {
	

	.content {
  
		padding-left: 10px;
		padding-right: 10px;

	
		.title {
			text-align: left;
			padding-top: 20px;
			font-size: 30px !important;
			text-transform: uppercase;
		}
	
		.user_info {
			margin-top: 20px;
			display: flex;
			flex-direction: column;
		}
	
		.avatar {
			margin-right: 20px;
			border-radius: 20px;
	
			width: 130px !important;
			height: 130px !important;
		}
	
		.name {
			font-size: 20px;
			margin-top: 5px;
		}
	
		.subscription {
			margin-top: 5px;
			font-size: 18px;
	
			span {
				background: var(--color-green);
				padding: 0;
				border-radius: 5px;
			}
		}
	}

}
