
@import "@/styles/apx.scss";

.pagination {

  display: flex;
  min-width: 100%;
  justify-content: center;


  &_ul {

    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
    padding-top : $apx-15;
    gap: $apx-4;

  }
  
  &_item { display: inline-block; }
  
  &_link {

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: $apx-5;

    font-size: $apx-16 !important;
    
    min-width: $apx-44;
    min-height: $apx-44;

    border-radius: $apx-8;
    border: $apx-1 solid  var(--color-gray-400);
    font-weight: 700;
    color: var(--color-gray-400);
    text-align: center;
    cursor: pointer;
    
    &:hover {

      background-color: #ebf2fd;
      color: var(--color-blue) ;
      border-color: var(--color-blue);

      svg path {

       stroke: var(--color-blue) 

      }

    }

  }
  
   &_item.disabled &_link {

    cursor: not-allowed;

  }
  
  &_item:first-child &_link, &_item:last-child &_link {
    background-color: #F6F7FB;
  }
  
  &_item.active &_link {
  
    background-color: var(--color-blue);
    border-color: var(--color-blue);
    color: #fff;

  }

  .arrow {

    width: $apx-40;
    height: $apx-40;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    &_prev {

      transform: rotate(90deg);
    
    }

    &_next {

      transform: rotate(-90deg);
    
    }

  }

}


// @media screen and ( max-width: 1100px ) {


//   .pagination {

  
//     &_ul {
  
//       padding-top : $apx-l-15;
//       gap: $apx-l-4;
  
//     }
    
//     &_link {
  

//       padding-bottom: $apx-l-5;
  
//       font-size: $apx-l-16 !important;
      
//       min-width: $apx-l-44;
//       min-height: $apx-l-44;
  
//       border-radius: $apx-l-8;
//       border: $apx-l-1 solid  var(--color-gray-400);
  
//     }
    
  
//     .arrow {
  
//       width: $apx-l-40;
//       height: $apx-l-40;
  
//     }
  
//   }
  

// }

@media screen and ( max-width: 800px ) {

  .pagination {

  
    &_ul {
  
      padding-top : $apx-m-15;
      gap: $apx-m-4;
  
    }
    
    &_link {
  

      padding-bottom: $apx-m-5;
  
      font-size: $apx-m-16 !important;
      
      min-width: $apx-m-34;
      min-height: $apx-m-34;
  
      border-radius: $apx-m-8;
      border: $apx-m-1 solid  var(--color-gray-400);

      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;

    }
    
  
    .arrow {
  
      width: $apx-m-30;
      height: $apx-m-30;

      left: 0;
      right: 0;
      
      &_prev {

        transform: rotate(0);
      
      }
  
      &_next {
  
        transform: rotate(-180deg);
        left: auto;
      
      }

    }
    
  
  }

}
  