:root {

  --color-blue: #0fa3e2;
  --color-blue-200: #0b86bb;
  --color-grey: #333;
  --color-black: #000;
  --color-white: #fff;

  --color-stone-400: #a8a8a8;
  --color-stone-300: #e2e2e2;
  --color-stone-200: #e8e8e8;
  --color-stone-100: #f4f4f4;

  --color-red: #FF647C;
  --color-green: #98ff98;

  --font-SF_PRO: 'SF_Pro';


}